node_modules
paginamain.png
paginamain2.png
poslogin2.png
postChallenge.png
resultadofinal.png
screenshot.png
package-lock.json
otherAuth.png
logado.png
codigoauth.png
codigoautenticacaomonitoria.png
challengeclick.png
botnocaptcha.png
botcaptcha.png
authAfad.png
screenshot.png
